<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layouts/head'); %>
</head>
<body class="container">

<header>
    <%#- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <% if (todo) { %>
            <h1>Todo: <%= todo.title %></h1>
            <p>Completed: <%= todo.completed %></p>
            <p>Requested at: <%= todo.created_at %></p>
        <% } else { %>
            <h1>Todo: Not Found</h1>
        <% } %>
    </div>
</main>

<footer>
    <%#- include('../partials/footer'); %>
</footer>

</body>
</html>